# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Env files
.env

# Git
.git/
.gitignore

# Testing & tooling
.pytest_cache/
.coverage
htmlcov/
tox/
mypy_cache/
dist/
build/
*.egg-info/

# OS files
.DS_Store

